<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>重庆质监缺陷管理分析系统</title>
    <link rel="stylesheet" href="../assets/css/analysis.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/icons/style.css">

    <script src="../scripts/jquery-1.11.3.min.js"></script>
    <script src="../scripts/nav.js"></script>
    <script src="../scripts/lib/echarts-3.3.1/echarts.js"></script>
    <script src="../scripts/lib/echarts-2.2.2/echarts.js"></script>
    <script src="../scripts/lib/echarts-3.3.1/echarts-wordcloud.min.js"></script>

    <script type="text/javascript" src="../scripts/plugins/jcarousellite_1.js"></script>
    <script>
        $(function () {
            var liLength = $("#rtList li").size();
            //alert(liLength);
            if (liLength >= 6) {
                $("#rtList").jCarouselLite({
                    btnNext: "#rt_next",
                    btnPrev: "#rt_pre",
                    visible: 6,
                    auto: 3000,
                    speed: 500
                });
            }
        })

    </script>

</head>
<body>



  <div class="assessment-r" style="margin-left: 0px">

    <div class="h_pro_pic_con">
      <div class="fl"><a href="javascript:;" class="h_control" id="rt_pre"><i
        class="icon-chevron-left"></i></a></div>
      <div class="fm h_pro_pic_outer">
        <div id="rtList">
          <ul>
            <li><a href="#">全部</a></li>
            <li><a href="#">汽车</a></li>
            <li><a href="#">家电</a></li>
            <li><a href="#">儿童玩具</a></li>
            <li><a href="#">电线电缆</a></li>
            <li><a href="#">家电</a></li>
            <li><a href="#">汽车</a></li>
            <li><a href="#">家电</a></li>
            <li><a href="#">儿童玩具</a></li>
            <li><a href="#">电线电缆</a></li>
            <li><a href="#">家电</a></li>
            <li><a href="#">汽车</a></li>
          </ul>
        </div>
      </div>
      <div class="fl"><a href="javascript:;" class="h_control" id="rt_next"><i
        class="icon-chevron-right"></i></a></div>
    </div>

    <div class="col-6">
      <div class="panel">
        <div class="panel-heading border-warning">
          <div class="panel-title">伤害部位分析</div>
        </div>
        <div class="panel-body">
          <div class="chart">
            <div id="man" style="width: 100%;height: 100%"></div>
            <div class="hurt">
              <table width="100%">
                <tbody>
                <tr>
                  <td>头部</td>
                  <td>20%（6568）</td>
                </tr>
                <tr>
                  <td>胸部</td>
                  <td>18%（5241）</td>
                </tr>
                <tr>
                  <td>上肢</td>
                  <td>15%（4982）</td>
                </tr>
                <tr>
                  <td>下肢</td>
                  <td>15%（4982）</td>
                </tr>
                <tr>
                  <td>颈部</td>
                  <td>7%（521）</td>
                </tr>
                <tr>
                  <td>全身广泛受伤</td>
                  <td>2%（652）</td>
                </tr>
                <tr>
                  <td>神经系统</td>
                  <td>1%（62）</td>
                </tr>
                <tr>
                  <td>其他</td>
                  <td>10%（3218）</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="panel">
        <div class="panel-heading border-gray">
          <div class="panel-title">事故职业分析</div>
        </div>
        <div class="panel-body">
          <div class="chart" id="accident"></div>
        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">事故伤亡分析</div>
        </div>
        <div class="panel-body">
          <div class="chart" id="casualties"></div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">事故年龄分析</div>
        </div>
        <div class="panel-body">
          <div class="proportion"><em>45%</em><em>55%</em></div>
          <div class="chart" id="age" style=" min-height:190px; height:190px; "></br>内圈：中年、老年、儿童</br>
            外圈：对应年龄段细分，儿童：0-3岁，4-10岁，老年
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">事故成因分析</div>
        </div>
        <div class="panel-body">
          <div class="chart" id="traffic"></div>
        </div>
      </div>
    </div>


  </div>
</body>
<script>


    function draw(id, option) {
        var myChart = echarts.init(document.getElementById(id));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }


    draw('accident', {
        backgroundColor: 'white',

        title: {
            left: 'center',
            top: 20,
            textStyle: {
                color: '#ccc'
            }
        },

        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '50%'],
                data: [
                    {value: 335, name: '技术工人'},
                    {value: 310, name: '驾驶员'},
                    {value: 274, name: '老师'},
                    {value: 235, name: '公务员'},
                    {value: 400, name: '医生'}
                ].sort(function (a, b) {
                    return a.value - b.value;
                }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'black'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'black'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#c23531',
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    })
    draw('casualties', option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['受伤', '死亡', '轻伤', '重伤']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: [
            {
                type: 'category',
                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '受伤',
                type: 'bar',
                data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
                name: '死亡',
                type: 'bar',
                data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
                name: '轻伤',
                type: 'bar',
                data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
                name: '重伤',
                type: 'bar',
                data: [150, 232, 201, 154, 190, 330, 410]
            }
        ]
    })
    draw('age', option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: ['中年', '老龄', '儿童']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                selectedMode: 'single',
                radius: [0, '30%'],

                label: {
                    normal: {
                        position: 'inner'
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data: [
                    {value: 335, name: '中年', selected: true},
                    {value: 679, name: '老龄'},
                    {value: 1548, name: '儿童'}
                ]
            },
            {
                name: '访问来源',
                type: 'pie',
                radius: ['40%', '55%'],
                label: {
                    normal: {
                        backgroundColor: '#eee',
                        borderColor: '#aaa',
                        borderWidth: 1,
                        borderRadius: 4,

                        rich: {
                            a: {
                                color: '#999',
                                lineHeight: 22,
                                align: 'center'
                            },
                            hr: {
                                borderColor: '#aaa',
                                width: '100%',
                                borderWidth: 0.5,
                                height: 0
                            },
                            b: {
                                fontSize: 16,
                                lineHeight: 33
                            },
                            per: {
                                color: '#eee',
                                backgroundColor: '#334455',
                                padding: [2, 4],
                                borderRadius: 2
                            }
                        }
                    }
                },
                data: [
                    {value: 335, name: '18-60'},
                    {value: 679, name: '60以上'},
                    {value: 1548, name: '0-16岁'},
                ]
            }
        ]
    })
    draw('traffic', option = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data: ['超速', '疲劳驾驶', '喝酒', '耍手机', '分心']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data: [
                    {value: 335, name: '超速'},
                    {value: 310, name: '疲劳驾驶'},
                    {value: 234, name: '喝酒'},
                    {value: 135, name: '耍手机'},
                    {value: 1548, name: '分心'}
                ]
            }
        ]
    })

    function man() {
        require.config({
            paths: {
                echarts: '../scripts/lib/echarts-2.2.2'
            }
        });
        require(
            [
                'echarts',
                'echarts/theme/dark',
                'echarts/chart/map'
            ],
            function (ec, theme) {
                require('echarts/util/mapData/params').params.bodyMale = {
                    getGeoJson: function (callback) {
                        $.ajax({
                            url: "svg/body-male.svg",
                            dataType: 'xml',
                            success: function(xml) {
                                callback(xml)
                            }
                        });
                    }
                }
                var option = {
                    tooltip: {
                        trigger: 'item'
                    },
                    dataRange: {
                        min: 0,
                        max: 100,
                        x: 'center',
                        y: 'center',
                        tdext: ['High', 'Low'],
                        calculable: true,
                        itemHeight: 30,
                        color: ['orangered', 'yellow', 'lightskyblue']
                    },
                    series: [
                        {
                            name: '人体密码-男',
                            type: 'map',
                            mapType: 'bodyMale', // 自定义扩展图表类型
                            mapLocation: {
                                x: 'left'
                            },
                            roam: true,
                            itemStyle: {
                                normal: {label: {show: true}},
                                emphasis: {label: {show: true}}
                            },
                            data: [
                                {name: '头部', value: 90},
                                {name: '颈部', value: 80},
                                {name: '胸部', value: 60},
                                {name: '腹部', value: 60},
                                {name: '生殖', value: 50},
                                {name: '上肢', value: 40},
                                {name: '下肢', value: 30}
                            ],
                            textFixed: {
                                '上肢': [-60, 0]
                            },
                            markPoint: {
                                symbol: 'emptyCircle',
                                symbolSize: 10,
                                effect: {
                                    show: true
                                },
                                data: [
                                    {name: '心脏', value: 100, geoCoord: [138, 126]}
                                ]
                            },
                            markLine: {
                                smooth: true,
                                effect: {
                                    show: true,
                                    scaleSize: 1,
                                    period: 30,
                                    color: '#fff',
                                    shadowBlur: 5
                                },
                                itemStyle: {
                                    normal: {
                                        borderWidth: 1,
                                        lineStyle: {
                                            type: 'solid'
                                        }
                                    }
                                },
                                data: [
                                    [
                                        {name: '男', geoCoord: [138, 126]},
                                        {name: '女', value: 90, geoCoord: [268, 56]}
                                    ]
                                ]
                            }
                        }
                    ]
                }
                ec.init(document.getElementById("man")).setOption(option);
            }
        );
    }
    man()

</script>


</html>
