<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆质监缺陷管理分析系统</title>
<link rel="stylesheet" href="../assets/css/analysis.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/icons/style.css">

<script src="../scripts/jquery-1.11.3.min.js"></script>
<script src="../scripts/nav.js"></script>
<script src="../scripts/lib/echarts-3.3.1/echarts.min.js"></script>
<script src="../scripts/lib/echarts-3.3.1/echarts-wordcloud.min.js"></script>

<script src="../scripts/plugins/jquery.ztree.all.min.js"></script>

<style type="text/css">.ztree li a span.add{ display:none;}  .chart{ height:226px;} .panel-body{ min-height:258px}</style>

</head>
<body>

<div class="sys-wraper">

  <!-- sys-header -->
  <div class="sys-header">
    <div class="sys-logo">
      <h1>重庆质监缺陷管理分析系统</h1>
      <h2>缺陷产品管理系统</h2>
    </div>
    <div class="sys-menu" id="sys-menu">
      <ul>
        <li>loading......</li>
      </ul>
      <div class="curLine"></div>
    </div>
    <div class="sys-topbar">
      <ul>
        <li><a href="#"> <i class="icon-person"></i>Admin</a></li>
        <li><a href="#"> <i class="icon-logout"></i>退出</a></li>
      </ul>
    </div>
  </div>
  
  <div class="sys-path"> <i class="icon-room"></i>首页 &gt; 产品缺陷监测系统</div>


  <!-- sys-main -->
  <div class="sys-main sys-main-style">

	
    <div class="catechose">
      	<ul>
        	<li><a href="defect.html">缺陷产品发现</a></li>
            <li><a class="active" href="defect2.html">缺陷产品状况分析</a></li>
            <li><a href="defect3.html">潜在风险预判</a></li>
        </ul>
      </div>
    
    
    <div class="panel" style=" margin-top:-10px;">
        <div class="panel-heading" style=" border-top:none">
          <div class="panel-title">
          	
          </div>
        </div>
        <div class="panel-body">
        
        	<div class="defect-tit">“朗逸2016款1.6T”</div>
        
            <div class="form-box" style=" margin-bottom:20px; background:#f4f4f4; padding:10px; ">
                <div class="form-item">                 
                        选择时间：
                    	<ul class="list-time">
                            <li class="active">今天</li>
                            <li>近7天</li>
                            <li>近30天</li>
                        </ul>
                        自定义时间
                        <input class="input" placeholder="请选择开始时间" value="" type="text" style=" width:200px;"> -  <input class="input" placeholder="请选择结束时间" type="text" style=" width:200px;">			
                        <input class="input" placeholder="请输入产品名称" value="" type="text" style=" width:200px;">
                        
                        <button class="btn"><i class="icon-search"></i>查询</button>
                </div>
              </div>
              
                    
                <div class="col-6">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">缺陷产品预警</div>
                    </div>
                    <div style=" min-height:580px; text-align:center; cursor:pointer" class="panel-body" >
                        <img src="../assets/images/test/10502.png" alt="" usemap="#Map" style=" margin:0 auto"/>
                        <map name="Map">
                          <area shape="circle" coords="226,242,72" href="defect2.html">
                          <area shape="circle" coords="96,83,66" href="defect2-01.html">
                          <area shape="circle" coords="432,161,68" href="defect2-02.html">
                          <area shape="circle" coords="80,413,64" href="defect2-03.html">
                          <area shape="circle" coords="345,420,63" href="defect2-04.html">
                        </map>
                    </div>
                  </div>
                </div>
                
                <div class="col-3">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">投诉实时监控趋势</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart1"><!--<img alt="" src="../assets/images/test/107.png" style=" height:220px" />--></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-3">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">投诉增速趋势图</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart2"><!--<img alt="" src="../assets/images/test/108.png" style=" height:200px" />--></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">部件所在总成维保占比</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart3"><!--<img alt="" src="../assets/images/test/109.png" style=" height:200px" />--></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">分总成部件维保数量</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart4"><!--<img alt="" src="../assets/images/test/110.png" style=" height:200px" />--></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">投诉画像</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart5"><!--<img alt="" src="../assets/images/test/112.png" style=" height:200px" />--></div>
                    </div>
                  </div>
                </div>

            
            
        </div>
      </div>
    
    




    
  </div>
  
  
  
</div>

<script>
	 function draw(id, option) {
        var myChart = echarts.init(document.getElementById(id));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    function createRandomItemStyle() {
        return {
            normal: {
                color: 'rgb(' + [
                    Math.round(Math.random() * 160),
                    Math.round(Math.random() * 160),
                    Math.round(Math.random() * 160)
                ].join(',') + ')'
            }
        };
    }

    var setting = {
      data: {
        simpleData: {
          enable: true
        }
      }
    };

    var zNodes1 =[
			{ id:1, pId:0, name:"乘用车", open:true,font:{'background-color':'black', 'color':'white'}},
		
			{ id:2, pId:1, name:"安全故障信息"},
			{ id:3, pId:1, name:"技术服务信息"},
			{ id:4, pId:1, name:"境外召回说明"},
			{ id:5, pId:1, name:"更退换货信息"},
			{ id:6, pId:1, name:"车型基本配置"},
			{ id:7, pId:1, name:"车型系列信息", open:true},
			{ id:71, pId:7, name:"速腾"},
			{ id:72, pId:7, name:"迈腾"},
			{ id:73, pId:7, name:"高尔夫"},
			{ id:74, pId:7, name:"宝来"},
			
			{ id:8, pId:1, name:"经销商信息"},
			{ id:9, pId:1, name:"汽车总成信息"},
  
	];

    $(document).ready(function(){
      $.fn.zTree.init($("#role"), setting, zNodes1);

    });
    
            option1 = {
    tooltip: {
        trigger: 'axis'
    },
    grid: {
        left: '1%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['周一','周二','周三','周四','周五','周六','周日']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'s9',
            type:'line',
            stack: '总量',
            data:[120, 300, 101, 400, 90, 230, 210]
        }
    ]
};

 var chart1 = echarts.init(document.getElementById('chart1'));
		chart1.setOption(option1, true);
	option2 = {
   
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['维保','投诉','互联网','事故伤害'],
        bottom:0
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '10%',
        containLabel: true
    },
    
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['三月一日','三月二日','三月三日','三月四日','三月五日','三月六日']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name:'平均',
            type:'line',
            stack: '总量',
            data:[120, 132, 101, 134, 90, 230]
        },
        {
            name:'当前',
            type:'line',
            stack: '总量',
            data:[220, 182, 191, 234, 290, 330]
        }
    ]
};
 var chart2 = echarts.init(document.getElementById('chart2'));
		chart2.setOption(option2, true);
		
		option3 = {

    title: {
        left: 'center',
        top: 20,
        textStyle: {
            color: '#ccc'
        }
    },

 

    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : '35%',
            center: ['50%', '50%'],
            data:[
                {value:600, name:'车身'},
                {value:400, name:'转向系统'},
                {value:400, name:'制动系统'},
                {value:400, name:'轮胎与刹车'},
                {value:400, name:'电器设备'}
            ].sort(function (a, b) { return a.value - b.value}),
            roseType: 'angle',
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(0, 0, 0, 1)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(0, 0, 0, 1)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                }
            },
            itemStyle: {
                normal: {
                    color: '#c23531',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
 var chart3 = echarts.init(document.getElementById('chart3'));
		chart3.setOption(option3, true);
		
			option4 ={
				        tooltip: {},
				        grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
				        
				        xAxis: {
				            data: ['发动机','刹车','雨刮','制动系统','排气系统']
				        },
				        yAxis: {},
				        series: [{
				            name: '数量',
				            type: 'bar',
				            data: [100,200,330,500,400]
				        }]
				    };
 var chart4 = echarts.init(document.getElementById('chart4'));
		chart4.setOption(option4, true);
		draw('chart5', option = {
        series: [{
            type: 'wordCloud',
            gridSize: 20,
            sizeRange: [12, 50],
            rotationRange: [0, 0],
            shape: 'circle',
            textStyle: {
                normal: {
                    color: function () {
                        return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: [
                {
                    name: "Sam S Club",
                    value: 10000,
                    itemStyle: {
                        normal: {
                            color: 'black'
                        }
                    }
                },
                {
                    name: "破损",
                    value: 6181,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "三星",
                    value: 4386,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "雨刮失灵",
                    value: 4055,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "量化",
                    value: 2467,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "维修",
                    value: 2244,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "打滑",
                    value: 1898,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "漏气",
                    value: 1484,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "发动机",
                    value: 1112,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "失控",
                    value: 965,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "刹车失灵",
                    value: 847,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "坏的",
                    value: 366,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "身体",
                    value: 360,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "头疼",
                    value: 282,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "加速",
                    value: 273,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "超速",
                    value: 265,
                    itemStyle: createRandomItemStyle()
                }
            ]
        }]
    })	
  </script>


</body>
</html>
