<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆质监缺陷管理分析系统</title>
<link rel="stylesheet" href="../assets/css/analysis.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/icons/style.css">

<script src="../scripts/jquery-1.11.3.min.js"></script>
<script src="../scripts/nav.js"></script>
<script src="../scripts/lib/echarts-3.7.2/echarts.js"></script>
<script src="../scripts/lib/echarts-3.3.1/echarts-wordcloud.min.js"></script>

<script src="../scripts/plugins/jquery.ztree.all.min.js"></script>

<style type="text/css">.ztree li a span.add{ display:none;}  .chart{ height:226px;} .panel-body{ min-height:258px}</style>

</head>
<body>

<div class="sys-wraper">

  <!-- sys-header -->
  <div class="sys-header">
    <div class="sys-logo">
      <h1>重庆质监缺陷管理分析系统</h1>
      <h2>缺陷产品管理系统</h2>
    </div>
    <div class="sys-menu" id="sys-menu">
      <ul>
        <li>loading......</li>
      </ul>
      <div class="curLine"></div>
    </div>
    <div class="sys-topbar">
      <ul>
        <li><a href="#"> <i class="icon-person"></i>Admin</a></li>
        <li><a href="#"> <i class="icon-logout"></i>退出</a></li>
      </ul>
    </div>
  </div>
  
  <div class="sys-path"> <i class="icon-room"></i>首页 &gt; 产品缺陷监测系统</div>


  <!-- sys-main -->
  <div class="sys-main sys-main-style">

	
    <div class="catechose">
      	<ul>
        	<li><a href="defect.html">缺陷产品发现</a></li>
            <li><a class="active" href="defect2.html">缺陷产品状况分析</a></li>
            <li><a href="defect3.html">潜在风险预判</a></li>
        </ul>
      </div>
    
    
    <div class="panel" style=" margin-top:-10px;">
        <div class="panel-heading" style=" border-top:none">
          <div class="panel-title">
          	
          </div>
        </div>
        <div class="panel-body">
        
        	<div class="defect-tit">“朗逸2016款1.6T”</div>
        
            <div class="form-box" style=" margin-bottom:20px; background:#f4f4f4; padding:10px; ">
                <div class="form-item">                 
                        选择时间：
                    	<ul class="list-time">
                            <li class="active">今天</li>
                            <li>近7天</li>
                            <li>近30天</li>
                        </ul>
                        自定义时间
                        <input class="input" placeholder="请选择开始时间" value="" type="text" style=" width:200px;"> -  <input class="input" placeholder="请选择结束时间" type="text" style=" width:200px;">			
                        <input class="input" placeholder="请输入产品名称" value="" type="text" style=" width:200px;">
                        
                        <button class="btn"><i class="icon-search"></i>查询</button>
                </div>
              </div>
              
                    
                <div class="col-6">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">缺陷产品预警</div>
                    </div>
                    <div style=" min-height:580px; text-align:center; cursor:pointer" class="panel-body" >
                        <img src="../assets/images/test/10503.png" alt="" usemap="#Map" style=" margin:0 auto"/>
                        <map name="Map">
                          <area shape="circle" coords="226,242,72" href="defect2.html">
                          <area shape="circle" coords="96,83,66" href="defect2-01.html">
                          <area shape="circle" coords="432,161,68" href="defect2-02.html">
                          <area shape="circle" coords="80,413,64" href="defect2-03.html">
                          <area shape="circle" coords="345,420,63" href="defect2-04.html">
                        </map>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">事故趋势监控</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart1"></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">增速趋势图</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart2"></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">事故发生地</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart3"></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">事故发生时间段统计</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart4"></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">易出事故部件前十</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart5"></div>
                    </div>
                  </div>
                </div>
                
                <div class="col-2">
                  <div class="panel">
                    <div class="panel-heading">
                      <div class="panel-title">事故原因分析</div>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart6"></div>
                    </div>
                  </div>
                </div>

            
            
        </div>
      </div>
    
    




    
  </div>
  
  
  
</div>

<script>

    var setting = {
      data: {
        simpleData: {
          enable: true
        }
      }
    };

    var zNodes1 =[
			{ id:1, pId:0, name:"乘用车", open:true,font:{'background-color':'black', 'color':'white'}},
		
			{ id:2, pId:1, name:"安全故障信息"},
			{ id:3, pId:1, name:"技术服务信息"},
			{ id:4, pId:1, name:"境外召回说明"},
			{ id:5, pId:1, name:"更退换货信息"},
			{ id:6, pId:1, name:"车型基本配置"},
			{ id:7, pId:1, name:"车型系列信息", open:true},
			{ id:71, pId:7, name:"速腾"},
			{ id:72, pId:7, name:"迈腾"},
			{ id:73, pId:7, name:"高尔夫"},
			{ id:74, pId:7, name:"宝来"},
			
			{ id:8, pId:1, name:"经销商信息"},
			{ id:9, pId:1, name:"汽车总成信息"},
  
	];

    $(document).ready(function(){
      $.fn.zTree.init($("#role"), setting, zNodes1);

    });
  </script>

<script>
    function draw(id, option) {
        var myChart = echarts.init(document.getElementById(id));
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    var colors = ['#5793f3', '#d14a61', '#675bba'];
    function createRandomItemStyle() {
        return {
            normal: {
                color: 'rgb(' + [
                    Math.round(Math.random() * 160),
                    Math.round(Math.random() * 160),
                    Math.round(Math.random() * 160)
                ].join(',') + ')'
            }
        };
    }
    draw('chart1', option = {
        color: colors,

        tooltip: {
            trigger: 'none',
            axisPointer: {
                type: 'cross'
            }
        },
        legend: {
            data:['轻微事故', '严重事故']
        },
        grid: {
            top: 70,
            bottom: 50
        },
        xAxis: [
            {
                type: 'category',
                axisTick: {
                    alignWithLabel: true
                },
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: colors[1]
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            return '轻微事故  ' + params.value
                                + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                        }
                    }
                },
                data: ["2016-1", "2016-2", "2016-3", "2016-4", "2016-5", "2016-6", "2016-7", "2016-8", "2016-9", "2016-10", "2016-11", "2016-12"]
            },
            {
                type: 'category',
                axisTick: {
                    alignWithLabel: true
                },
                axisLine: {
                    onZero: false,
                    lineStyle: {
                        color: colors[0]
                    }
                },
                axisPointer: {
                    label: {
                        formatter: function (params) {
                            return '严重事故  ' + params.value
                                + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                        }
                    }
                },
                data: ["2015-1", "2015-2", "2015-3", "2015-4", "2015-5", "2015-6", "2015-7", "2015-8", "2015-9", "2015-10", "2015-11", "2015-12"]
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name:'轻微事故',
                type:'line',
                xAxisIndex: 1,
                smooth: true,
                data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
            },
            {
                name:'严重事故',
                type:'line',
                smooth: true,
                data: [3.9, 5.9, 11.1, 18.7, 48.3, 69.2, 231.6, 46.6, 55.4, 18.4, 10.3, 0.7]
            }
        ]
    })
    /*draw('word', option = {
        series: [{
            type: 'wordCloud',
            gridSize: 20,
            sizeRange: [12, 50],
            rotationRange: [0, 0],
            shape: 'circle',
            textStyle: {
                normal: {
                    color: function () {
                        return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#333'
                }
            },
            data: [
                {
                    name: "Sam S Club",
                    value: 10000,
                    itemStyle: {
                        normal: {
                            color: 'black'
                        }
                    }
                },
                {
                    name: "破损",
                    value: 6181,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "三星",
                    value: 4386,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "完美",
                    value: 4055,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "量化",
                    value: 2467,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "好的",
                    value: 2244,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "打滑",
                    value: 1898,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "个人",
                    value: 1484,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "发动机",
                    value: 1112,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "失控",
                    value: 965,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "刹车失灵",
                    value: 847,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "路况",
                    value: 582,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "良好",
                    value: 555,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "天气",
                    value: 550,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "手刹",
                    value: 462,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "坏的",
                    value: 366,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "身体",
                    value: 360,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "头疼",
                    value: 282,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "加速",
                    value: 273,
                    itemStyle: createRandomItemStyle()
                },
                {
                    name: "超速",
                    value: 265,
                    itemStyle: createRandomItemStyle()
                }
            ]
        }]
    })*///文字云
    draw('chart2',option = {
        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c}'
        },
        legend: {
            left: 'left',
            data: ['一般事故', '严重事故']
        },
        xAxis: {
            type: 'category',
            name: 'x',
            splitLine: {show: false},
            data: ['一', '二', '三', '四', '五', '六', '七', '八', '九']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: {
            type: 'log',
            name: 'y'
        },
        series: [
            {
                name: '一般事故',
                type: 'line',
                data: [1, 3, 9, 27, 81, 247, 741, 2223, 6669]
            },
            {
                name: '严重事故',
                type: 'line',
                data: [1, 2, 4, 8, 16, 32, 64, 128, 256]
            }
        ]
    })
    draw('chart3',option = {
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'十字路口'},
                    {value:310, name:'小区'},
                    {value:234, name:'斑马线'},
                    {value:135, name:'机场'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    })
    draw('chart4',option = {
        angleAxis: {
            type: 'category',
            data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
            z: 10
        },
        radiusAxis: {
        },
        polar: {
        },
        series: [{
            type: 'bar',
            data: [1, 2, 3, 4, 3, 5, 1],
            coordinateSystem: 'polar',
            name: '一般事故',
            stack: 'a'
        }, {
            type: 'bar',
            data: [2, 4, 6, 1, 3, 2, 1],
            coordinateSystem: 'polar',
            name: '紧急事故',
            stack: 'a'
        }, {
            type: 'bar',
            data: [1, 2, 3, 4, 1, 2, 5],
            coordinateSystem: 'polar',
            name: '严重事故',
            stack: 'a'
        }],
        legend: {
            show: true,
            data: ['一般事故', '紧急事故', '严重事故']
        }
    })
    draw('chart5',option = {
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : ['刹车', '雨刮器', '踏板', '油门', '灯光', '座椅'],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'问题',
                type:'bar',
                barWidth: '60%',
                data:[10, 52, 200, 334, 390, 330, 220]
            }
        ]
    })
    draw('chart6',option = {
        tooltip: {},
        legend: {
            data: ['个人', '产品']
        },
        radar: {
            // shape: 'circle',
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                }
            },
            indicator: [
                { name: '疲劳', max: 6500},
                { name: '走神', max: 16000},
                { name: '技术', max: 30000},
                { name: '天气', max: 38000},
                { name: '产品', max: 52000},
                { name: '运气', max: 25000}
            ]
        },
        series: [{
            name: '预算 vs 开销（Budget vs spending）',
            type: 'radar',
            // areaStyle: {normal: {}},
            data : [
                {
                    value : [4300, 10000, 28000, 35000, 50000, 19000],
                    name : '个人'
                },
                {
                    value : [5000, 14000, 28000, 31000, 42000, 21000],
                    name : '产品'
                }
            ]
        }]
    })

</script>



</body>
</html>
