<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆质监缺陷管理分析系统</title>
<link rel="stylesheet" href="../assets/css/analysis.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/icons/style.css">

<script src="../scripts/jquery-1.11.3.min.js"></script>
<script src="../scripts/nav.js"></script>


</head>
<body>

<div class="sys-wraper">

  <!-- sys-header -->
  <div class="sys-header">
    <div class="sys-logo">
      <h1>重庆质监缺陷管理分析系统</h1>
      <h2>缺陷产品管理系统</h2>
    </div>
    <div class="sys-menu" id="sys-menu">
      <ul>
        <li>loading......</li>
      </ul>
      <div class="curLine"></div>
    </div>
    <div class="sys-topbar">
      <ul>
        <li><a href="#"> <i class="icon-person"></i>Admin</a></li>
        <li><a href="#"> <i class="icon-logout"></i>退出</a></li>
      </ul>
    </div>
  </div>

  <div class="sys-path"> <i class="icon-room"></i>首页 &gt; 分析报告 </div>

  <!-- sys-main -->
  <div class="sys-main sys-main-style">
  	<div class="contentbox">
      
      <div class="model-list">
      	<ul>
        	<li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
            <li><span><a href="reportdetail.html" target="_blank" style=" font-size:12px"><img alt="" src="../assets/images/model-icon.png" /></a></span><h3>商品分析—三星Galaxy Note8互联网情报分析报告</h3><p>创建时间：2017-10-13</p></li>
        </ul>
      </div>
      
    </div>
  
  </div>
  
</div>



</body>
</html>
