
<li> 
	<a href="internet-analysis.html">互联网情报分析</a>
	<ul class="sys-menu-child">
      <li><a href="internet-analysis.html">情报分析</a></li>
      <li><a href="internet-analytics-report.html">分析报告</a></li>
    </ul>
</li>

<li class="active"><a href="index.html">执法情报检索</a> </li>

<li> <a href="defect.html">产品缺陷监测</a> </li>

<li> 
	<a href="task-found.html">执法任务管理</a>
	<ul class="sys-menu-child">
      <li><a href="task-found.html">案源发现</a></li>
      <li><a href="filing-evidence.html">数据取证</a></li>
      <li><a href="decision-support.html">决策支持</a></li>
    </ul>
</li>


<li> <a href="assessment.html">宏观质量评估</a> </li>

 