<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆质监缺陷管理分析系统</title>
<link rel="stylesheet" href="../assets/css/analysis.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/icons/style.css">

<script src="../scripts/jquery-1.11.3.min.js"></script>
<script src="../scripts/nav.js"></script>


</head>
<body>

<div class="sys-wraper">

	<div class="report">
    	<h1>XX汽车刹车故障事故报告</h1>
        <h3>事件简介</h3>
        <div class="reportbox">本报告围绕“”关键词“ XX汽车，刹车故障，事故”，对“ 2017-07-01 18:37 到 2017-07-17 18:37 ”期间，互联网上采集到的“ 635 ”条信息进行了深入分析。全网信息量最高峰出现在“ 2017-07-09 ”，共产生“ 182 ”篇相关讯息；事件源头于“ 2017-07-02T04:22:00 ”分发布在 百度 上，题名为『 告别“非此即彼”:韩国模式的亚太意义 』。后续报道主要来源于 新浪微博、微信、新浪博客、头条新闻网、腾讯网 等几大站点。详细报告如下。</div>
        <h3>时间走势</h3>
        
        <div class="reportbox"><img alt="" src="../assets/images/test/report.png" /></div>
        
        <h3>数据分析</h3>
        
        <div class="reportbox">
        	<div class="col-4">
            	媒体来源占比</br>
            	<img alt="" src="../assets/images/test/78.png" style=" width:230px;"  />
            </div>
            <div class="col-4">
            	情感倾向分析</br>
            	<img alt="" src="../assets/images/test/79.png" style=" width:230px;"  />
            </div>
            <div class="col-4" >
            	信息区域分布图</br>
            	<img alt="" src="../assets/images/test/60.png" style=" width:290px;" />
            </div>
            <div class="col-12">
            	关键词云</br>
            	<img alt="" src="../assets/images/test/127.png" style="  margin-left:30px" />
            </div>
        </div>
        
        <h3>时间传播途径</h3>
        
        <div class="reportbox">
        	<div class="col-12">
            	<img alt="" src="../assets/images/test/128.png"  />
            </div>
        </div>
        
    </div>

  

  
</div>

<script type="text/javascript">
// JavaScript Document

		$(function(){
			$(".searchclick06").click(function(){	
				$(".searchbox06").show();
				$(".searchbox02, .searchbox03, .searchbox04, .searchbox05, .searchbox01").hide();
			});
	
	   });

</script>


</body>
</html>
