<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆质监缺陷管理分析系统</title>
<link rel="stylesheet" href="../assets/css/analysis.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/icons/style.css">

<script src="../scripts/jquery-1.11.3.min.js"></script>
<script src="../scripts/nav.js"></script>
<script src="../scripts/lib/echarts-3.3.1/echarts.min.js"></script>
<script src="../scripts/lib/echarts-3.3.1/echarts-wordcloud.min.js"></script>

<script src="../scripts/plugins/jquery.ztree.all.min.js"></script>

<style type="text/css">.ztree li a span.add{ display:none;}</style>

</head>
<body>

<div class="sys-wraper">

  <!-- sys-header -->
  <div class="sys-header">
    <div class="sys-logo">
      <h1>重庆质监缺陷管理分析系统</h1>
      <h2>缺陷产品管理系统</h2>
    </div>
    <div class="sys-menu" id="sys-menu">
      <ul>
        <li>loading......</li>
      </ul>
      <div class="curLine"></div>
    </div>
    <div class="sys-topbar">
      <ul>
        <li><a href="#"> <i class="icon-person"></i>Admin</a></li>
        <li><a href="#"> <i class="icon-logout"></i>退出</a></li>
      </ul>
    </div>
  </div>


  <div class="sys-path"> <i class="icon-room"></i>首页 &gt; 执法任务管理 &gt; 案源发现</div>

  <!-- sys-main -->
  <div class="sys-main sys-main-style">
	
    <div class="catechose">
      	<ul>
        	<li><a href="task-found.html">被动案源接收</a></li>
            <li><a href="task-found-bug.html">产品质量案源发现</a></li>
            <li><a href="task-found-risk.html" class="active">潜在风险案源发现</a></li>
            <li><a href="task-found-web.html">互联网信息案源发现</a></li>
        </ul>
      </div>
    
    
    <div class="col-12">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
          	
          </div>
        </div>
        <div class="panel-body">
        
            <div class="form-box" style=" margin-bottom:20px; background:#f4f4f4; padding:10px; ">
                <div class="form-item">                 
                    	产品类型：
                        <select style=" width:160px; ">
                            <option>请选择产品类别</option>
                            <option>全部</option>
                        </select>
                        选择时间：
                    	<ul class="list-time">
                            <li class="active">今天</li>
                            <li>近7天</li>
                            <li>近30天</li>
                        </ul>
                        自定义时间
                        <input class="input" placeholder="请选择开始时间" value="" type="text" style=" width:200px;"> -  <input class="input" placeholder="请选择结束时间" type="text" style=" width:200px;">
                        <button class="btn"><i class="icon-search"></i>查询</button>
                </div>
              </div>
              
              <div class="assessment">
                <div class="assessment-l assessment-l-style">
                    <a href="task-found-risk.html"><i class="icon-view-quilt"></i>缺陷库概览</a>
                    <a href="task-found-risk-compare.html" class="active"><i class="icon-view-carousel"></i>缺陷特征比对</a>
                </div>
        
                <div class="assessment-r">
                    
                    
                    <div class="col-2">
                      <div class="cars">
                      	<div class="carstit">
                        	汽车品牌库<input class="input" placeholder="请输入产品名称" type="text">
                        </div>
                            <dl class="carscate">
                                <dd>A</dd>
                                <dd>B</dd>
                                <dd>C</dd>
                                <dd>D</dd>
                                <dd>E</dd>
                                <dd>F</dd>
                                <dd>G</dd>
                                <dd>H</dd>
                                <dd>I</dd>
                                <dd>J</dd>
                                <dd>K</dd>
                                <dd>L</dd>
                                <dd>M</dd>
                                <dd>N</dd>
                                <dd>O</dd>
                                <dd>P</dd>
                                <dd>Q</dd>
                                <dd>R</dd>
                                <dd>S</dd>
                                <dd>T</dd>
                                <dd>U</dd>
                                <dd>V</dd>
                                <dd>W</dd>
                                <dd>X</dd>
                                <dd>Y</dd>
                                <dd>Z</dd>
                            </dl>
                            <dl class="carslist">
                                <dd>
                                    <h3>A</h3>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                </dd>
                                <dd>
                                    <h3>B</h3>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                </dd>
                                <dd>
                                    <h3>C</h3>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                </dd>
                                <dd>
                                    <h3>D</h3>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                    <p><a href="#">奥迪</a></p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    
                    <div class="col-10">
                      <div class="product-top">
                      	<b>产品型号：</b>
                        <select style=" width:300px; ">
                            <option>请选择产品型号</option>
                            <option>▪2016款 2.4L CVT 智尊版</option>
                        </select>
                      </div>
                      <div class="product-tit">部件参数</div>
                      <div class="product-box">
                      	<div class="product-box-l">
                        	<ul id="role" class="ztree"></ul>
                        </div>
                        <div class="product-box-r">
                        	<h3>车门</h3>
                        	<table class="table table-striped">
                              <tbody>
                                <tr>
                                  <td>生产厂商</td>
                                  <td>中国第一汽车集团公司</td>
                                  <td>批号</td>
                                  <td>CY185462125</td>
                                </tr>
                                <tr>
                                  <td>附件名称</td>
                                  <td>材质</td>
                                  <td>工艺参数</td>
                                  <td>参考标准</td>
                                </tr>
                                <tr>
                                  <td>扶手</td>
                                  <td>皮革</td>
                                  <td>124mm</td>
                                  <td>±12mm</td>
                                </tr>
                                <tr>
                                  <td>辅助扶手</td>
                                  <td>皮革</td>
                                  <td>8544mm</td>
                                  <td>±121mm</td>
                                </tr>
                                <tr>
                                  <td>门锁</td>
                                  <td>铝合金混皮革</td>
                                  <td>1258mm</td>
                                  <td>-</td>
                                </tr>
                                <tr>
                                  <td>门内手扣</td>
                                  <td>铝合金混皮革</td>
                                  <td>-</td>
                                  <td>-</td>
                                </tr>
                                <tr>
                                  <td>玻璃升降器</td>
                                  <td>铝合金</td>
                                  <td>1251cm</td>
                                  <td>±6cm</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                      </div>
                      
                      <div class="product-tit">缺陷库相似部件比对</div>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <td>部件名称</td>
                              <td>生产厂商</td>
                              <td>批号</td>
                              <td>缺陷原因</td>
                              <td>相似度</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="active">
                              <td>汽车车门</td>
                              <td>中国第一汽车集团公司</td>
                              <td>CY185462125</td>
                              <td>设计缺陷</td>
                              <td>100%</td>
                            </tr>
                            <tr>
                              <td>汽车车门</td>
                              <td>中国第一汽车集团公司</td>
                              <td>BW521852125</td>
                              <td>工艺缺陷</td>
                              <td>98%</td>
                            </tr>
                            <tr>
                              <td>汽车车门</td>
                              <td>中国第一汽车集团公司</td>
                              <td>CY185462125</td>
                              <td>设计缺陷</td>
                              <td>95%</td>
                            </tr>
                          </tbody>
                        </table>
                        
                        <div class="product-tit">比对详情</div>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <td>基本信息</td>
                              <td>当前原件</td>
                              <td>缺陷原件</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>厂商</td>
                              <td>美国TRW（天合）汽车集团</td>
                              <td>奥托立夫</td>
                            </tr>
                            <tr>
                              <td>扶手材质</td>
                              <td>皮革</td>
                              <td>混编</td>
                            </tr>
                            <tr>
                              <td>扶手规格</td>
                              <td>30cm   ±5cm</td>
                              <td>30cm   ±4cm</td>
                            </tr>
                            <tr>
                              <td>辅助扶手规格</td>
                              <td>25cm   ±3cm</td>
                              <td>26cm   ±5cm</td>
                            </tr>
                            <tr>
                              <td>门锁</td>
                              <td>铝合金混皮革</td>
                              <td>铝合金混皮革</td>
                            </tr>
                          </tbody>
                        </table>
                      
                    </div>
                    

                    
                </div>
    		
            </div>
            
            
            
        </div>
      </div>
    </div>
    
    




    
  </div>
  
  
  
</div>

<script type="text/javascript">
	
		var setting = {
		  view: {
			addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			selectedMulti: false
		  },

		  data: {
			simpleData: {
			  enable: true
			}
		  },
		  callback: {
			beforeDrag: beforeDrag,
			beforeEditName: beforeEditName,
			beforeRemove: beforeRemove,
			beforeRename: beforeRename,
			onRemove: onRemove,
			onRename: onRename
		  }
		};
	
		var zNodes =[
			{ id:1, pId:0, name:"车身", open:true,font:{'background-color':'black', 'color':'white'}},
		
			{ id:2, pId:1, name:"车架"},
			{ id:3, pId:1, name:"车门"},
			{ id:4, pId:1, name:"车梁"},
			{ id:5, pId:1, name:"风窗"},
			{ id:6, pId:1, name:"挂车钩"},
			{ id:7, pId:1, name:"后视镜"},
			{ id:8, pId:1, name:"拉手/门锁/拉索"},
			{ id:9, pId:1, name:"座椅"},
			
			{ id:10, pId:0, name:"传动系统"},
			{ id:11, pId:0, name:"电气设备"},
			{ id:12, pId:0, name:"发动机"},
			{ id:13, pId:0, name:"附加系统"},
			{ id:14, pId:0, name:"轮胎及车轮"},
			{ id:15, pId:0, name:"安全气囊及安全带"},

			
			
		];
	
		var log, className = "dark";
		function beforeDrag(treeId, treeNodes) {
		  return false;
		}
		function beforeEditName(treeId, treeNode) {
		  className = (className === "dark" ? "":"dark");
		  showLog("[ "+getTime()+" beforeEditName ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
		  var zTree = $.fn.zTree.getZTreeObj("role");
		  zTree.selectNode(treeNode);
		  setTimeout(function() {
	/*        if (confirm("进入节点 -- " + treeNode.name + " 的编辑状态吗？")) {
			  setTimeout(function() {
				zTree.editName(treeNode);
			  }, 0);
			}*/
			zTree.editName(treeNode);
		  }, 0);
		  return false;
		}
		function beforeRemove(treeId, treeNode) {
		  className = (className === "dark" ? "":"dark");
		  showLog("[ "+getTime()+" beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
		  var zTree = $.fn.zTree.getZTreeObj("role");
		  zTree.selectNode(treeNode);
		  return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
		}
		function onRemove(e, treeId, treeNode) {
		  showLog("[ "+getTime()+" onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
		}
		function beforeRename(treeId, treeNode, newName, isCancel) {
		  className = (className === "dark" ? "":"dark");
		  showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" beforeRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
		  if (newName.length == 0) {
			setTimeout(function() {
			  var zTree = $.fn.zTree.getZTreeObj("role");
			  zTree.cancelEditName();
			  alert("节点名称不能为空.");
			}, 0);
			return false;
		  }
		  return true;
		}
		function onRename(e, treeId, treeNode, isCancel) {
		  showLog((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" onRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
		}
		function showRemoveBtn(treeId, treeNode) {
		  return !treeNode.isFirstNode;
		}
		function showRenameBtn(treeId, treeNode) {
		  return !treeNode.isLastNode;
		}
		function showLog(str) {
		  if (!log) log = $("#log");
		  log.append("<li class='"+className+"'>"+str+"</li>");
		  if(log.children("li").length > 8) {
			log.get(0).removeChild(log.children("li")[0]);
		  }
		}
		function getTime() {
		  var now= new Date(),
		  h=now.getHours(),
		  m=now.getMinutes(),
		  s=now.getSeconds(),
		  ms=now.getMilliseconds();
		  return (h+":"+m+":"+s+ " " +ms);
		}
	
		var newCount = 1;
		function addHoverDom(treeId, treeNode) {
		  var sObj = $("#" + treeNode.tId + "_span");
		  if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
		  var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
			+ "' title='add node' onfocus='this.blur();'></span>";
		  sObj.after(addStr);
		  var btn = $("#addBtn_"+treeNode.tId);
		  if (btn) btn.bind("click", function(){
			var zTree = $.fn.zTree.getZTreeObj("role");
			zTree.addNodes(treeNode, {id:(100 + newCount), pId:treeNode.id, name:"new node" + (newCount++)});
			return false;
		  });
		};
		function removeHoverDom(treeId, treeNode) {
		  $("#addBtn_"+treeNode.tId).unbind().remove();
		};
		function selectAll() {
		  var zTree = $.fn.zTree.getZTreeObj("role");
		  zTree.setting.edit.editNameSelectAll =  $("#selectAll").attr("checked");
		}
	
	
		$(document).ready(function(){
		  $.fn.zTree.init($("#role"), setting, zNodes);
		  $("#selectAll").bind("click", selectAll);
		  
		  $(".crclelist li").hover(function(){
		  	$(this).children(".tabletotalnumberstyle").toggle();
			$(this).children("em").toggle();
		  })
	
	
		});

    </script>

</body>
</html>
